body {
    background: url("background.jpg")no-repeat;
    width:95%;
    height:100%;
    background-size:100%;
}

.book-img {
    float: left;
    position: relative;
}

.book-detail {
    float: left;
    top: 10px;
    padding-left: 10px;
    position: relative;
}

.item-title {
    float: left;
    position: relative;
    text-align: left;
    font-size: 1em;
    font-weight:bold;
    white-space:nowrap
}

.item-content {
    float: left;
    position: relative;
    text-align: left;
    font-size: 1em;
    font-weight:bold;
    word-break: break-all;
}

.book-detail-item-padding-top {
    padding-top: 30px;
}

.bar {
    float: left;
    width: 100%;
    position: relative;
    line-height: 40px;
    border: 1px;
    border-style: none none dashed none;
    border-color: #277ED5;
}

.bar-text {
    padding-left: 10px;
    font-size: 1.2em;
    color: #277ED5;
    font-weight:bold;
}

.collectionInfo {
    float: left;
    top: 10px;
    position: relative;
    padding-left: 10px;
}

.collection {
    float: left;
    position: relative;
    top: 50px;
}